<form #regForm="ngForm" (ngSubmit)="register()">
  <div fxLayout="column row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2vw">
    <mat-form-field>
      <input required email matInput #emailField="ngModel" name="reg-email" placeholder="Email" ngModel>
      <mat-error *ngIf="emailField.hasError('email')">
        Please enter a valid email
      </mat-error>
      <mat-hint *ngIf="emailField.touched && emailField.invalid">
        Please enter an email address
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input required matInput #passwordField="ngModel" minlength="8" name="reg-password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#\$]).*$"
        placeholder="Password" ngModel>
      <mat-hint *ngIf="passwordField.touched && passwordField.invalid">
        Please enter a password
      </mat-hint>
      <mat-error *ngIf="passwordField.hasError('minlength')">
        Please enter a password at least 8 chars
      </mat-error>
      <mat-error *ngIf="passwordField.hasError('pattern')">
        Please enter a password with at least 1 number, one special char (@, #, $) and upper/lowercase
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required matInput #nameField="ngModel" name="reg-name" placeholder="Name" ngModel>
      <mat-hint *ngIf="nameField.touched && nameField.invalid">
        Please enter a name
      </mat-hint>
    </mat-form-field>
    <div fxLayout="column row" fxLayoutGap="2vw">
      <span><b>Gender:</b></span>
      <mat-radio-group required name="reg-gender" ngModel fxLayoutGap="2vw">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <input matInput [max]="maxDate" [matDatepicker]="picker" #dobField="ngModel" name="reg-dob" placeholder="Date of Birth" required
        ngModel>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dobField.touched && dobField.invalid">
        Registrant must be at least 18 years old
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required matInput #addressField="ngModel" name="reg-address" placeholder="Address" ngModel>
      <mat-hint *ngIf="addressField.touched && addressField.invalid">
        Please enter an address
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input required matInput #countryField="ngModel" name="reg-country" placeholder="Country" ngModel>
      <mat-hint *ngIf="countryField.touched && countryField.invalid">
        Please enter a country
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input required matInput #contactField="ngModel" name="reg-contact" pattern="[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s0-9]*$" placeholder="Contact Number"
        ngModel>
      <mat-hint *ngIf="contactField.touched && contactField.invalid">
        Please enter a contact number
      </mat-hint>
      <mat-error *ngIf="contactField.hasError('pattern')">
        Please enter a valid contact number
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="!regForm.valid">Register</button>
  </div>
</form>